server:
  grpc_listen_port: 4317

metastore:
  address: 0.0.0.0
  min_ready_duration: 1s

distributor:
  ring:
    kvstore:
      store: inmemory

ingester:
  lifecycler:
    address: 0.0.0.0
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
    min_ready_duration: 1s

pyroscopedb:
  data_path: "/data/pyroscope"
