server:
  port: 8081

  ssl:
    enabled: true
    key-store-type: PKCS12
    key-store: classpath:keystore.p12
    key-store-password: strongpassword
    key-alias: openmetin-authentication-dev

spring:
  application:
    name: openmetin-game

  threads:
    virtual:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: none

  datasource:
    url: jdbc:postgresql://localhost:10000/openmetin_game?sslmode=verify-full&sslrootcert=docker/conf/postgres/certs/ca.crt
    username: openmetin_game_user
    password: strongpassword

  liquibase:
    enabled: true
    url: jdbc:postgresql://localhost:10000/openmetin_game?sslmode=verify-full&sslrootcert=docker/conf/postgres/certs/ca.crt
    user: openmetin_game_liquibase_user
    password: strongpassword
    database-change-log-lock-table: database_changelog_lock
    database-change-log-table: database_changelog
    liquibase-schema: liquibase
    change-log: classpath:/db/changelog/db.changelog-master.xml

  cache:
    type: redis

  data:
    redis:
      url: rediss://strongpassword@localhost:10001/0
      ssl:
        enabled: true
        bundle: redis
      timeout: 2s
      client-type: lettuce
      lettuce:
        pool:
          enabled: true
          max-active: 16
          max-idle: 8
          min-idle: 0
          max-wait: 2s

  ssl:
    bundle:
      jks:
        redis:
          truststore:
            location: classpath:truststore.jks
            password: strongpassword
            type: JKS

logging:
  level:
    org.springframework.data.redis: INFO
    io.lettuce: WARN
    liquibase: INFO
    liquibase.changelog: INFO
    liquibase.lockservice: WARN
    org.springframework.boot.autoconfigure.liquibase: INFO

management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0

  otlp:
    metrics:
      export:
        url: http://localhost:10005/v1/metrics

  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://localhost:10005/v1/traces

    logging:
      export:
        otlp:
          endpoint: http://localhost:10005/v1/logs

open-metin:
  channel-index: 1

  tcp:
    host: 0.0.0.0
    port: 13000
    idle-seconds: 60

  game-loop:
    enabled: true
    target-tps: 60
    fixed-timestep-ms: 16

  data:
    base-directory: ./data

  rest-client:
    authentication-url: https://localhost:8080/api/v1
    authentication-basic-auth-username: user
    authentication-basic-auth-password: pass

  trust-store:
    path: classpath:truststore.jks
    password: strongpassword
